/*-----------------------------------------------------------*/
/* About
/*-----------------------------------------------------------*/

.nav-link {
   color: #7a7a77;
}

.nav-link:hover {
   color: #545450; 
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

#about {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-top: 120px;
}

#about .div-img-bg .about-img img {
  width: 100%;
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
}

#about .about-descr .p-heading {
  font-family: 'Poppins', helvetica;
  font-size: 28px;
  text-align: left;
  color: #545450;
}

#about .about-descr .separator {
  font-family: 'Poppins', helvetica;
  max-width: 70%;
  margin-bottom: 0;
  margin-top: 10px; 
  text-align: left;
  color: #7a7a77;
}

@media (min-width: 768px) and (max-width: 991px) {
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
#about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
}

