/*-----------------------------------------------------------*/
/* About
/*-----------------------------------------------------------*/

.nav-link {
   color: #545450;
}

.nav-link:hover {
   color: #000000;
}

a {
   font-family: "Poppins", helvetica;
}

#about {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-top: 120px;
}

#about .div-img-bg .about-img img {
  width: 100%;
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: 'Poppins', helvetica;
  font-size: 28px;
  text-align: left;
  color: #545450;
}

#about .about-descr .separator {
  font-family: 'Poppins', helvetica;
  max-width: 75%;
  margin-bottom: 0;
  margin-top: 10px; 
  text-align: left;
  color: #7a7a77;
}
