@charset "utf-8";

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.banner_div {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.banner_img {
   width: 70%;
}

