@charset "utf-8";

.banner_div {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}

#banner_img {
   width: 68%;
   height: auto;
}

table {
   position: absolute;
   top: 0;
   left: 0;
}

td {
   position: relative;
   top: 0;
   left: 0;
}
